* {
    margin: 0;
    padding: 0;
    outline: none;
}

body {
    font-family: 'Montserrat', sans-serif;
}

.container {
    margin: 0 auto;
    max-width: 1120px;
}

#main-page {
    background: url('../images/background.jpg');
    width: 100vw;
    height: 100vh;
    background-position: center;
    background-size: cover;
    position: relative;
}

/* Container */
/* Header */
header {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
}

header #logo a {
    color: #c7ecee;
    text-decoration: none;
    font-size: 55px;
    transition: 0.1s ease-in-out;
}

header #logo a:hover {
    cursor: pointer;
    color: #b2d4d6;
}

header nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

header nav a {
    font-size: 16px;
    margin-left: 40px;
    text-decoration: none;
    color: #c7ecee;
    position: relative;
    transform: perspective(1px) translateZ(0);  
}

header nav a:hover {
    cursor: pointer;
}

header nav a::before {
    content: "";
    position: absolute;
    left: 100%;
    right: 0;
    bottom: -5px;
    background: #c7ecee;
    height: 1px;
    transition: 0.3s ease-in-out;
}

header nav a:hover::before {
    left: 0;
    cursor: pointer;
}
/* End Header */
/* End Container */

/* Components */

/* Tutorial */
.frame {
    position: fixed;
    width: 30vw;
    background: rgba(255, 255, 255, 0.6);
    left: 35vw;
    top: 30vh;
    padding: 50px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    color: #7f8c8d;
    opacity: 0;
    font-size: 20px;
    transition: 0.5s ease-in-out;
}

#tutorial {
    padding-bottom: 30px;
}

#tutorial p, #tutorial i {
    margin-bottom: 10px;
}

#tutorial ul {
    margin-bottom: 25px;
}

#tutorial ul li {
    font-size: 14px;
    color: #2c3e50;
    margin-bottom: 5px;
}
/* End Tutorial */

/* Information */
#information p {
    margin-bottom: 10px;
}

#information p:first-child {
    font-size: 30px;
    color: #2c3e50;
}

#information div {
    padding-top: 5px;
    padding-left: 25%;
}

#information li {
    list-style: none;
    font-size: 18px;
    margin-bottom: 5px;
    color: #34495e;
}

#information i {
    margin-right: 8px;
    color: #2c3e50;
}

#information p:first-child i {
    font-size: 25px;
}

#information p:last-child i {
    font-size: 18px;
}

#information ul i {
    font-size: 16px;
}
/* End Information */

/* Contact */
#contact {
    position: absolute;
    bottom: 35px;
    right: 50px;
    display: flex;
    flex-direction: column;
}

#contact a {
    background: transparent;
    padding: 12px 15px;
    border-radius: 50%;
    border: #c7ecee solid 2px;
    color: #c7ecee;
    font-size: 20px;
    margin-bottom: 20px;
    transition: 0.2s ease-in-out;
    text-decoration: none;
}

#contact a:hover {
    cursor: pointer;
    background: #c7ecee;
    color: #000000;
}

#contact::before {
    content: 'Github';
    font-size: 12px;
    color: #ffffff;
    background: rgba(0, 0, 0, 0.5);
    padding: 5px;
    position: absolute;
    border-radius: 5px;
    top: -25px;
    transition: 0.4s ease-in-out;
    opacity: 0;
}

#contact:hover::before {
    opacity: 1;
    top: -35px;
}
/* End Components */

/* Fonts */
.f-sofia {
    font-family: 'Sofia', cursive;
}

.f-montserrat {
    font-family: 'Montserrat', sans-serif;
}