<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="Solution to calculating finance, Tính toán tài chính cho sản phẩm">
    
    <link rel="shortcut icon" type="image/x-icon" href="../static/images/favicon.png">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Montserrat|Sofia" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/index.css">
    <title>Product Finance Tool | Solution to calculating finance </title>
</head>
<body>
    <div id="main-page">
        <!-- Container -->
        <div class="container">
            <!-- Header -->
            <header>
                <div id="logo"><a class="f-sofia" href="">ProFinan</a></div>
                <nav>
                    <a id="tut-link">Tutorial</a>
                    <a id="info-link">Information</a>
                </nav>
            </header>
            <!-- End Header -->
        </div>
        <!-- End Container -->

        <!-- Components -->
        <!-- Start Button -->
        <div id="start-button-container" class="between-screen">
            <button id="start-button" class="f-sofia">
                <i class="fas fa-comment-dollar"></i>
                Start Calculating!
            </button>
        </div>
        <!-- End Start Button -->

        <!-- Input1 -->
        <div id="input1-container" class="between-screen">
            <div id="input1" class="main-content">
                <div class="input-box">
                    <input type="text">
                    <label for="">Number of periods</label>
                </div>
                <div class="input-box">
                    <input type="text">
                    <label for="">Rate (in %)</label>
                </div>
                <div>
                    <button id="next1" class="button-submit">
                        Next
                    </button>
                    <button id="back1" class="button-submit">
                        Back
                    </button>
                </div>
            </div>
        </div>
        <!-- End Input1 -->

        <!-- Tutorial -->
        <div id="tutorial" class="frame">
            <ul>
                <i class="fas fa-angle-double-down"></i>
                <span>Input</span>
                <li>Number N of periods for project implementation</li>
                <li>Rate r (in %) for the period</li>
                <li>Benefit for period i: Bi, where i=1,2, …, N</li>
                <li>Cost for period i: Ci, where i=1,2, …, N</li>
            </ul>
            <ul>
                <i class="fas fa-angle-double-up"></i>
                <span>Output</span>
                <li>Present value (PV)</li>
                <li>Furture Worth (FW)</li>
                <li>Net Present Value (NPV)</li>
                <li>Net Future Value (NFV)</li>
                <li>Internal Rate of Return (IRR)</li>
                <li>Payback period (PP)</li>
                <li>Return on Investment (ROI)</li>
            </ul>
        </div>
        <!-- End Tutorial -->
        
        <!-- Information -->
        <div id="information" class="frame">
            <p><i class="fas fa-chalkboard"></i>IT4520 - Software Engineering Economics</p>
            <p><i class="fas fa-user-shield"></i>Exercise No 03 - Group 06</p>
            <p><i class="fas fa-school"></i>VUWIT15 - SIE - HUST</p>
            <div>
                <ul>
                    <li><i class="fas fa-user-secret"></i>Nguyễn Đình Tiến - 20168533</li>
                    <li><i class="fas fa-user-secret"></i>Chu Ngọc Minh - 20168337</li>
                    <li><i class="fas fa-user-secret"></i>Nguyễn Hữu Khải - 20168712</li>
                    <li><i class="fas fa-user-secret"></i>Đỗ Duy Quang - 20168769</li>
                    <li><i class="fas fa-user-secret"></i>Phạm Công Nguyên - 20168386</li>
                </ul>
            </div>
        </div>
        <!-- End Information -->

        <!-- Contact -->
        <div id="contact">
            <a href="https://github.com/dinhtienn/" target="_blank"><i class="fab fa-github"></i></a>
        </div>
        <!-- End Contact -->
        <!-- End Components -->
    </div>
    <script src="../static/js/index.js"></script>
</body>
</html>