<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="Solution to calculating finance, Tính toán tài chính cho sản phẩm">
    
    <link rel="shortcut icon" type="image/x-icon" href="../static/images/favicon.png">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Montserrat|Sofia" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/index.css">
    <title>Product Finance Tool | Solution to calculating finance </title>
</head>
<body>
    <div id="main-page">
        <!-- Container -->
        <div class="container">
            <!-- Header -->
            <header>
                <div id="logo"><a class="f-sofia" href="">ProFinan</a></div>
                <nav>
                    <a id="tut-link">Tutorial</a>
                    <a id="info-link">Information</a>
                </nav>
            </header>
            <!-- End Header -->
        </div>
        <!-- End Container -->

        <!-- Components -->
        <!-- Information -->
        <div id="information">
            <p>Software Engineering Economics</p>
            <p>Exercise No 03 - Group 06</p>
            <div>
                <ul>
                    <li>Nguyễn Đình Tiến - 20168533</li>
                    <li>Chu Ngọc Minh - 20168337</li>
                    <li>Nguyễn Hữu Khải - 20168712</li>
                    <li>Đỗ Duy Quang - 20168769</li>
                    <li>Phạm Công Nguyên - 20168386</li>
                </ul>
            </div>
        </div>
        <!-- End Information -->

        <!-- Contact -->
        <div id="contact">
            <button><i class="fab fa-github"></i></button>
            <button><i class="far fa-comment"></i></button>
        </div>
        <!-- End Contact -->
        <!-- End Components -->
    </div>
    <script src="../static/js/index.js"></script>
</body>
</html>